name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: setup golang
        uses: actions/setup-go@v4
        with:
          go-version: 1.20
        run: go version
      - name: install dependencies
        run: go mod download
      - name: run tests
        run: go test ./...